In [1]:
import pandas
pandas.__version__

'1.0.1'

In [ ]:
import pandas as pd

In [3]:
import numpy as np

import pandas as pd

data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

0.5

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [17]:
data1 = pd.Series([0.25, 0.5, 0.75, 1.0],index=['a', 'b', 'c', 'd'])  
data1

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [18]:
data['b']

0.5

In [19]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [28]:
data[5]

0.5

In [31]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [32]:
population['California']

38332521

In [33]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [29]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [57]:
area.values

array([423967, 695662, 141297, 170312, 149995], dtype=int64)

In [34]:
states = pd.DataFrame({'population': population,
                       'area': area})

states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [35]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [36]:
states.columns

Index(['population', 'area'], dtype='object')

In [39]:
states.head(5) # The first three rows

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [41]:
states.shape

(5, 2)

In [48]:
import pandas
pandas.__version__
import numpy as np

import pandas as pd

s1= pd.Series([1,2,3,5,8])
s1

0    1
1    2
2    3
3    5
4    8
dtype: int64

In [49]:
s2 = pd.Series([8,5,3,2,1])
s2

0    8
1    5
2    3
3    2
4    1
dtype: int64

In [51]:
data3 = pd.DataFrame({'lst1': s1,
                       'lst2': s2})
data3

   lst1  lst2
0     1     8
1     2     5
2     3     3
3     5     2
4     8     1

In [56]:
result = s1.add(s2) 
result

0    9
1    7
2    6
3    7
4    9
dtype: int64